/* Styles for Shows view */

.card-img-top {
    width: 100%;
    border-bottom: 1px dashed #fff;
}

.card {
    max-width: max-content;
    justify-content: center;
    background-color: #000;
    max-width: 80%;
    min-height: 250px;
    margin: auto;
    border: 1px dashed var(--light);
}

.card-title {
    color: #007bff;
    font-weight: bold;
    border-bottom: 1px solid #f8f9fa;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .1em;
}

.card-text {
    color: #007bff;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    letter-spacing: .05em;
}

.main__shows {
    display: grid;
    grid-template-rows: repeat(2, 1 fr);
}

.img--shows {
    min-height: 450px;
    min-width: 150px;
    padding-top: 40px;
    margin: auto;
    position: relative;
    animation: movement 5s ease-out;
    align-self: center;
}

.text-shows {
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    height: 100%;
    letter-spacing: .1em;
}

@keyframes movement {
    from {
        left: 300%;
    }
    to {
        left: 100%;
    }
}

@media only screen and (max-width: 990px) {
    .main__shows {
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .img--shows {
        display: inline-block;
        justify-content: center;
        padding: 0;
        height: 65%;
        align-content: center;
    }
    .card {
        width: 50%;
    }
    .card-title {
        overflow: hidden;
    }
    .text-shows {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100%;
    }
}