.hello {
    position: absolute;
    top: 100px;
    left: 50%;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    font-size: 50px;
    animation: {
        name: wave;
        iteration-count: infinite;
        timing-function: ease-in-out;
    }
}

@for $i from 1 through 4 {
    .hello:nth-of-type(#{$i}) {
        animation-duration: 2s;
        animation-delay: 0.9s - ($i / 4);
    }
}

@keyframes wave {
    40% {
        transform: translate(-50%, -65%) scale(1.025);
    }
    50% {
        transform: translate(-50%, -65%) scale(1.025);
    }
    0% {
        transform: translate(-50%, -45%) scale(0.95);
    }
    90% {
        transform: translate(-50%, -45%) scale(0.95);
    }
    100% {
        transform: translate(-50%, -45%) scale(0.95);
    }
}

.disk {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.body_style {
    border-bottom: 1px dashed $green;
    margin-top: 0;
}

.text-disks {
    display: flex;
    flex-grow: initial;
    font-size: 30px;
    text-transform: uppercase;
    height: 100%;
    letter-spacing: .1em;
    margin: auto;
    justify-content: center;
    padding-top: 30px;
}

.leadisk {
    text: {
        align: left !important;
        transform: uppercase;
    }
    animation: {
        duration: 1s;
        name: slideindisk;
    }
    letter-spacing: 1mm;
    margin: {
        left: 60px;
        top: 20px;
    }
}

@keyframes slideindisk {
    from {
        margin: {
            top: 100%;
        }
    }
    to {
        margin: {
            top: 5%;
        }
    }
}

@media screen and (min-width: 990px) {
    .disk {
        justify-content: left;
    }
    .text-disks {
        justify-content: center;
        font-size: 50px;
    }
    .leadisk {
        font-size: 30px;
    }
}

@media only screen and (max-width: 768px) {
    .hello {
        font-size: 24px;
    }
}